body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
.color {
  color: #ffc800;
}
section {
  display: flex;
}
.first-part {
  margin-bottom: 2%;
}
.punch-line h1 {
  font-size: 60px;
  padding: 25px 25px 8px 25px;
  color: #8a7d7d;
}
.punch-line {
  width: 50%;
  margin-left: 5%;
  margin-top: 8%;
}
.first-img {
  width: 50%;
  margin-top: 3%;
}
.author-img {
  width: 50%;
  height: 600px;
}
.author-img img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  margin-top: 59px;
}
.first-para {
  color: #8a8a8a;
  font-weight: 500;
  margin-bottom: 70px;
  margin-left: 5%;
  font-size: 22px;
}
.button {
  font-size: 23px;
  font-weight: 600;
  background-image: linear-gradient(
    to left,
    rgb(247 57 0),
    rgb(247 140 0 / 74%)
  );
  padding: 25px 45px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  margin-left: 5%;
}
.about-me {
  width: 50%;
}
.about-author {
  background-image: url(images/shapes/7.png);
  background-repeat: round;
}
.about-me h1 {
  color: #8a7d7d;
  font-size: 40px;
  margin-top: 20%;
  margin-left: 5%;
  margin-bottom: 7%;
}
.about-me p {
  color: black;
  font-weight: 500;
  margin-bottom: 70px;
  margin-left: 5%;
  font-size: 22px;
  margin-right: 26%;
}
.recipies {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
.recipies-title {
  text-align: center;
}
.recipies-para {
  text-align: center;
  margin-bottom: 5%;
  color: black;
}

.recipies-m {
  margin: 0 24% 0;
  color: #8a7d7d;
  font-size: 25px;
}
.item-container {
  display: flex;
}
.items {
  width: 30%;
  border-radius: 5%;
  box-shadow: 0 0 20px grey;
  margin: 2%;
  height: 490px;
}
.items img {
  width: 88%;
  height: 50%;
  padding: 6%;
}
.item-heading {
  font-weight: 800;
  font-size: 31px;
  padding-left: 20px;
  margin-top: 18px;
  margin-bottom: 0;
}
.item-des {
  padding: 20px 20px 15px 22px;
  font-size: 17px;
  margin-top: 0;
  line-height: 1.6;
}
.fs-item {
  margin-left: 4%;
}
.ls-item {
  margin-right: 4%;
}
footer {
  background-color: #080808;
  height: 250px;
}
footer h1 {
  color: #8a7d7d;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-top: 3%;
  margin-top: 0px;
}
footer p {
  color: white;
  text-align: center;
  padding-top: 20px;
}
.form-sec {
  display: block;
}
.form {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px grey;
  width: 27%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 280px;
}
.button-sub {
  font-size: 20px;
  background-image: linear-gradient(
    to left,
    rgb(232 23 23),
    rgb(247 140 0 / 74%)
  );
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}
input {
  margin: 5px 20px 10px 20px;
  padding: 6px;
  border: 1px solid black;
}
.form-sec h1 {
  text-align: center;
  margin-bottom: 20px;
}
.text-one {
  margin-top: 33px;
}
.text-last {
  margin-bottom: 40px;
}
